*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.html
sh.exe.stackdump
.idea/assetWizardSettings.xml
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
